.bg{
    height: 60px;
    background-color: rgb(58, 35, 44);
}

.enter{
    top: -15px;
    min-height: 40px;
    min-width: 90px;
}

.login-box{
    position: fixed;
    top: 40%;
    left:5%;
    min-width: 0px;
}

.full-box{
	overflow: auto;
	height: 100vh;
}

@media (max-width:500px) {
	.full-box {
		background-size:cover;
		background-position: top 0px left -550px ;
	}
}

@media (min-width:500px) {
	.full-box {
		background-size:cover;
		background-position: top right;
	}
}